<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>{{site.title}} | {{title}}</title>
  <link rel="alternate" type="application/rss+xml" href="{{site.feed_url}}" />
  <link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>

  <div class="wrap">

    <header class="primary-header">
      <h1 class="site-title"><a href="/">{{site.title}}</a></h1>

      <ul class="page-menu">
      {% for page in site.pages %}
        <li><a href="{{page.url}}"{% if page.url == url %} class="is-current-page"{% endif %}>{{page.title}}</a></li>
      {% endfor %}
      </ul>
    </header>

    <section class="content">

      <h1 class="content-title">{{title}}</h1>

      {% if pages %}
        {% comment %} Show subpages if there are any available {% endcomment %}
        <nav class="subpage-menu">
          {% for subpage in pages %}
            <a href="{{subpage.url}}">{{subpage.title}}</a>
          {% endfor %}
        </nav>
      {% endif %}

      {{body}}

      {% if type == 'post' %}

        {% comment %} Show tagsets if this is a post {% endcomment %}
        {% for tagset in taxonomy %}
          <strong>{{tagset.key}} ({{tagset | size}} tags)</strong>
          <ul>
            {% for tag in tagset %}
              <li><a href="{{tag.url}}">{{tag.value}}</a></li>
            {% endfor %}
          </ul>
        {% endfor %}

      {% elsif type == 'taxonomy' %}

        {% comment %} Show tags associated with a taxonomy {% endcomment %}
        <ul>
          {% for tag in tags %}
            <li><a href="{{tag.url}}">{{tag.value}}</a></li>
          {% endfor %}
        </ul>

      {% else %}

        {% comment %} Loop through any posts and show an excerpt {% endcomment %}
        {% for post in posts %}
          <article class="post-preview">
            <h2><a href="{{post.url}}">{{post.title}}</a></h2>
            {{post.body | strip_html | truncatewords: 100}}
            <p><a href="{{post.url}}">View post</a>
          </article>
        {% endfor %}

      {% endif %}

      {% if parent %}
        <p><a href="{{parent.url}}">&larr; Back to {{parent.title}}</a></p>
      {% endif %}

    </section><!-- /content -->
  </div><!-- /wrap -->
</body>
</html>